---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

import DialogClose from "./DialogClose.astro";
import DialogOverlay from "./DialogOverlay.astro";

interface Props extends HTMLAttributes<"div"> {
  showCloseButton?: boolean;
}

const {
  showCloseButton = true,
  class: className = "",
  ...rest
} = Astro.props as Props;
---

<div data-slot="dialog-portal" class="z-50 isolate absolute">
  <DialogOverlay />
  <div
    data-slot="dialog-content"
    hidden
    class={cn(
      "bg-background data-open:animate-in data-closed:animate-out data-closed:fade-out-0 data-open:fade-in-0 data-closed:zoom-out-95 data-open:zoom-in-95 ring-foreground/10 grid max-w-[calc(100%-2rem)] gap-6 rounded-xl p-6 text-sm ring-1 duration-100 sm:max-w-md fixed top-1/2 left-1/2 z-50 w-full -translate-x-1/2 -translate-y-1/2 outline-none",
      className,
    )}
    {...rest}
  >
    <slot />
    {
      showCloseButton && (
        <DialogClose>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M18 6L6 18M6 6l12 12"
            />
          </svg>
          <span class="sr-only">Close</span>
        </DialogClose>
      )
    }
  </div>
</div>
